.container {
  display: flex;
  padding: 0px;
  width: 100%;
  flex-wrap: wrap;
  margin: 0px 400px;
}

img {
  margin: 15px;
}

@media (min-width: 1200px) {
  .container {
    max-width: 2500px;
  }
}

body {
  background-color: rgb(197, 144, 186);
}
